<div id= "topbar_back">
</div>
<div class="topbar_shadow">
</div>
<div class="container" id="container">
<div id="topbar_container">
	<div class="topbar">
		<div id="topbar_logo">
			<img src="/images/siallogo.png" width=70px height=20px>
		</div>
		<div id="article_new">
			<%= link_to 'New Article', new_article_path %>
		</div>
	</div>
	<div class="topbar_shadow">
	</div>
</div>
<br />
