/* line 6, ../../../app/stylesheets/partials/article.scss */
.topbar {
  font-family: sans-serif;
  font-size: 12px;
  color: white;
  text-align: right;
  width: 100%;
  height: 38px;
  background-color: gray;
}
/* line 15, ../../../app/stylesheets/partials/article.scss */
.topbar #article_new {
  margin-right: 10px;
}
/* line 19, ../../../app/stylesheets/partials/article.scss */
.topbar #topbar_logo {
  padding-top: 10px;
  float: left;
}

/* line 26, ../../../app/stylesheets/partials/article.scss */
.topbar_shadow {
  width: 100%;
  height: 20px;
  background-image: url("/images/topbar_shadow.png");
  background-repeat: repeat-x;
  float: left;
  z-index: -1;
  position: absolute;
  top: -100px;
}

/* line 38, ../../../app/stylesheets/partials/article.scss */
#topbar_back {
  width: 100%;
  height: 40px;
  background-color: gray;
  z-index: -2;
  position: absolute;
}

/* line 48, ../../../app/stylesheets/partials/article.scss */
#container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  border: solid;
  border-width: 1px;
  border-color: #bfbfbf;
  padding-left: 5px;
  padding-right: 5px;
}
/* line 56, ../../../app/stylesheets/partials/article.scss */
#container #title {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
}
/* line 147, ../../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #container #title {
  overflow-x: hidden;
}

/* line 67, ../../../app/stylesheets/partials/article.scss */
.actions a {
  color: black;
  font-size: 10px;
  float: right;
}

/* line 75, ../../../app/stylesheets/partials/article.scss */
.article {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  font-family: sans-serif;
}
/* line 147, ../../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .article {
  overflow-x: hidden;
}
/* line 79, ../../../app/stylesheets/partials/article.scss */
.article .article_title_big {
  height: 50px;
  font-weight: bold;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 790px;
  font-size: 30px;
  padding-top: 20px;
}
/* line 147, ../../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .article .article_title_big {
  overflow-x: hidden;
}
/* line 85, ../../../app/stylesheets/partials/article.scss */
.article .article_title_big a {
  color: #0d27a5;
  font-size: 25px;
  text-decoration: none;
}
/* line 96, ../../../app/stylesheets/partials/article.scss */
.article .actions a {
  color: black;
  font-size: 10px;
  float: right;
}
/* line 103, ../../../app/stylesheets/partials/article.scss */
.article a {
  color: #0d27a5;
  font-size: 15px;
  text-decoration: none;
}
/* line 109, ../../../app/stylesheets/partials/article.scss */
.article p {
  font-size: 12px;
  font-family: sans-serif;
}
/* line 114, ../../../app/stylesheets/partials/article.scss */
.article .article_title {
  font-weight: bold;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 790px;
}
/* line 147, ../../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .article .article_title {
  overflow-x: hidden;
}
/* line 119, ../../../app/stylesheets/partials/article.scss */
.article .article_image {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
}
/* line 147, ../../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .article .article_image {
  overflow-x: hidden;
}
/* line 123, ../../../app/stylesheets/partials/article.scss */
.article .article_description {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 670px;
}
/* line 147, ../../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .article .article_description {
  overflow-x: hidden;
}
/* line 127, ../../../app/stylesheets/partials/article.scss */
.article .article_divide {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 870px;
  color: #ff4300;
}
/* line 147, ../../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .article .article_divide {
  overflow-x: hidden;
}

/* line 134, ../../../app/stylesheets/partials/article.scss */
.back_link {
  color: black;
  float: right;
  text-decoration: none;
  font-size: 12px;
  font-family: sans-serif;
}
